<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${contact}">
    <h1>Your contact information</h1>
    <p>Contact id</p>
    <p data-th-text="*{id}"></p>
    <br>
    <p>Name</p>
    <p data-th-text="*{name}"></p>
    <br>
    <p>Email</p>
    <p data-th-text="*{email}"></p>
    <br>
    <p>Phone No.</p>
    <p data-th-text="*{phoneNumber}"></p>
    <br>
    <p>Date of Birth</p>
    <p data-th-text="*{dateOfBirth}"></p>
    <br>
    
    
</body>
</html>